VITE_FIREBASE_API_KEY=AIzaSyBjTLUp9IkDHPSAflCP0bq9Ze9iaavEcFs
VITE_FIREBASE_AUTH_DOMAIN=dementia-study-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dementia-study-app
VITE_FIREBASE_STORAGE_BUCKET=dementia-study-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=774302099263
VITE_FIREBASE_APP_ID=1:774302099263:web:55aa53c0bc0423c2ac558a